<div class="well">
    <div class="row">
        <div class="col-md-6">
            <h2>Contacto</h2>
            <p>Tel: 4247-7093 - Ituzaingo 1354, Lanús Este</p>
        </div>
        <div class="col-md-6"><h2>Seguinos en </h2>
            <a class="btn btn-social-icon btn-twitter">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-social-icon btn-facebook">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-social-icon btn-linkedin">
                <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn btn-social-icon btn-pinterest">
                <i class="fa fa-youtube"></i>
            </a>
        </div>
    </div>
</div>
