<div id="footer-wrapper">
    <div class="footer-top-wrapper">
        <div class="container_12">
            <div class="footer-item grid_12">
                <div id="text-2" class="widget">
                    <div class="textwidget">
                        <p >CENTRO DIAGNOSTICO LANUS. - BASAVILBASO 1859 - LANÚS ESTE- BS AS - ARGENTINA - <a href="mailto:informacion@diagnosticolanus.com.ar">informacion@diagnosticolanus.com.ar</a>

                            <br>Copyright © 2015 Diagnóstico Lanús | <a href="http://www.pathlink.com.ar/">PathLink / PathComunicación</a>
                        </p>
                    </div>


                </div>
            </div>

        </div>
        <!-- end of .container_12 -->
    </div>
    <!-- end of #footer-top-wrapper -->

</div>