<div id="header">
    <div class="header-up-wrapper">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div id="top-nav-wrapper">
            <div id="top-nav-container" class="container_12">
                <div id="top-nav" class="grid_12">
                    <div id="top-nav-left">
                        <div class="menu-top-nav-container">
                            <ul id="top-menu" class="menu">
                                <li><p>Bienvenido: <span id="user">{{ app.user.nombrepal }}</span></p>
                                </li>
                                <li><span class="divider">|</span>
                                    <a href="{{ app.user.firewall == 'main' ? path('logout'):path('logout_art') }}">CERRAR SESIÓN</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div id="header-up" class="container_12">
            <div class="grid_12">
                <div id="logo-wrapper">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% set url_home = app.user.firewall == 'main' ? path('company'):path('company_art') %}
                    {% else %}
                        {% set url_home = '#' %}
                    {% endif %}
                    <a href="{{ url_home }}" title="diagnostico lanus"><img src="{{ asset('images/logo.png') }}" alt="logo"></a>
                </div>
                <div class="top-information-wrapper">
                    <div class="social-wrapper">
                        <ul>
                            <li class="social-icon twitter">
                                <a class="light" href="#"><img src="{{ asset('images/icons/network/light/twitter.png') }}" alt=""></a>
                            </li>
                            <li class="social-icon facebook">
                                <a class="light" href="#"><img src="{{ asset('images/icons/network/light/facebook.png') }}" alt=""></a>
                            </li>
                            <li class="social-icon youtube">
                                <a class="light" href="#"><img src="{{ asset('images/icons/network/light/youtube.png') }}" alt=""></a>
                            </li>
                            <li class="social-icon linkedin">
                                <a class="light" href="#"><img src="{{ asset('images/icons/network/light/linkedin.png') }}" alt=""></a>
                            </li>

                        </ul>
                    </div>
                    <div class="top-information"><span>Basavilbaso 1859, Lanús Este&nbsp;&nbsp;&nbsp;</span><span class="email"> <a href="mailto:informacion@diagnosticolanus.com.ar">informacion@diagnosticolanus.com.ar</a></span><span class="phone">4247-7093</span></div>
                </div>
            </div>
        </div>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="header-down-wrapper">
        <div id="header-down">
            {% if app.user.firewall == 'main' %}
                {% include('navigation.html.twig') %}
            {% else %}
                {% include('navigation_art.html.twig') %}
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>