<div id="menu-wrap">
    <div id="menu-wrapper" class="container_12">
        <ul id="main-nav" class="sf-menu">
            <li>
                <a href="#">Servicios Onine</a>
                <ul>
                    <li>
                        <a href="{{ path('medicalExaminations') }}">Exámenes Médicos</a>
                    </li>
                    <li>
                        <a href="{{ path('careClinic') }}">Atención en Consultorio</a>
                    </li>
                    <li>
                        <a href="{{ path('visitingAddress') }}">Visitas a Domicilio</a>
                    </li>
                    <li>
                        <a href="{{ path('workAccident') }}">Accidentes de Trabajo</a>
                    </li>
                    <li>
                        <a href="{{ path('satisfactionSurvey') }}">Encuesta de Satisfacción</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#">Informes</a>
                <ul>
                    <li>
                        <a href="{{ path('todayNews') }}">Ultimas novedades</a>
                    </li>
                    <li>
                        <a href="{{ path('monthNews') }}">Novedades del Mes</a>
                    </li>
                    <li>
                        <a href="{{ path('yearNews') }}">Novedades del Año</a>
                    </li>
                    <li>
                        <a href="{{ path('medicalStudies') }}">Estudios Médicos</a>
                    </li>
                    <li>
                        <a href="{{ path('clinicStory') }}">Pacientes</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#">Cuenta Corriente</a>
                <ul>
                    <li>
                        <a href="{{ path('checkingAccount') }}">Saldos Pendientes</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#">Promociones</a>
                <ul>
                    <li>
                        <a href="{{ path('libretaSanitaria') }}">Libreta Sanitaria</a>
                    </li>
                    <li>
                        <a href="{{ path('seguridadHigiene') }}">Seguridad e Higiene</a>
                    </li>
                    <li>
                        <a href="{{ path('cursos') }}">Cursos</a>
                    </li>
                    <li>
                        <a href="{{ path('examenIngreso') }}">Exámen de Ingreso</a>
                    </li>
                    <li>
                        <a href="{{ path('servicioOdontologia') }}">Servicio de odontología</a>
                    </li>
                    <li>
                        <a href="{{ path('homologacionExamenes') }}">Homologación de Exámenes</a>
                    </li>
                    <li>
                        <a href="{{ path('asesoramientoLegal') }}">Asesoramiento Legal</a>
                    </li>
                    <li>
                        <a href="{{ path('diagnosticoLanus') }}">Centro de Diagnóstico Lanús</a>
                    </li>
                    <li>
                        <a href="{{ path('nuevosClientes') }}">PLAN NUEVOS CLIENTES</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Ayuda</a>
                <ul>
                    <li>
                        <a href="{{ path('faq') }}">Preguntas Frecuentes</a>
                    </li>
                    <li>
                        <a href="{{ path('contactUs') }}">Consultas</a>
                    </li>
                </ul>
            </li>

        </ul>

    </div>
    <!-- end of menu-wrapper -->
</div>
<!-- end of menu-wrap -->
