{% extends 'base.html.twig' %}

{% if app.session.get('origin') is defined %}
    {% set origin = app.session.get('origin') %}
{% else %}
    {% set origin = 'not-set' %}
{% endif %}

{% block title %}
    {% if (origin == 'pal') %}
        Palmedicina
    {% else %}
        Diagnostico Lanus
    {%  endif %}
{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap Core CSS -->
    {#<link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">#}
    <style>
        @media print {
            body {-webkit-print-color-adjust: exact;}
        }
        .text-center {
            text-align: center;
        }
        @page {
            margin: 0cm;
        }
    </style>
{% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="container">
        {% block container %}
        {% endblock container %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script>
        $( document ).ready(function() {
            window.print();
        });
    </script>
{% endblock %}
