<p>Para confirmar fecha de pago envie mail a <a href="mailto:cuentacorriente@diagnosticolanus.com.ar">cuentacorriente@diagnosticolanus.com.ar</a> o comuniquece con Irma al 4247-7093 interno 8.</p>
<p>Si desea realizar transferencia bancaria ponemos a disposición nuestros datos de la cuenta:</p>
<p><strong>Banco:</strong> SANTANDER RIO</p>
<p><strong>Razón social:</strong> CENTRO DIAGNOSTICO LANUS SA</p>
<p><strong>Cuenta:</strong> 054-003253/5</p>
<p><strong>CBU:</strong> 0720054020000000325354</p>
<p><strong>CUIT:</strong> 30-71300400-2</p>
