{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Preguntas frecuentes{% endblock %}

{% block container %}
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">FAQ
                <small>Preguntas Frecuentes</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="empresa.html">Inicio</a>
                </li>
                <li class="active">FAQ</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Consultar información online</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            Cómo hago para cambiar mi nombre de usuario y clave de acceso?<br>
                            Deberá enviar mail a sistemas@palmedicinalaboral.com.ar y solicitar nuevo nombre de usuario. La clave que le otorgamos es única y no se puede modificar.<br><br>
                            Qué información puedo visualizar en esta aplicación?<br>
                            Podrá realizar el seguimiento de sus empleados en forma integral sin la necesidad de utilizar el teléfono. En el sitio encontrará los resultados de los exámenes en salud, domicilios y consultorios. Con respecto a Accidentología laboral, se encuentran disponibles datos sobre la evolución del paciente, indicando próximos turnos y demás información complementaria. Por otro lado, podrá consultar su estado de cuenta, las respectivas facturas y estar al día de nuestras novedades y promociones.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Exámenes en salud</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Cómo hago para solicitar un examen en salud?<br>
                            Deberá ingresar a Servicios online y completar el formulario Exámenes Médicos.<br>
                            Cómo se debe presentar el postulante?<br>
                            1. Documento de Identidad en mano<br>
                            2. Previa autorización<br>
                            3. Ayuno (mínimo 8 hs) y la primer orina de la mañana o retención mínima de 2hs.<br>
                            4. Lentes de leer, en caso de utilizarlos.<br>
                            Cuándo recibo el resultado del estúdio?<br>
                            El resultado del exámen se enviará automáticamente por mail a las 48hs. de realizado el mismo o lo podrá visualizar ingresando a la sección Informes haciendo click en Estudios Médicos.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Control de Ausentismo</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            Cómo se realiza la solicitud de un domicilio de Lunes a Viernes?<br>
                            La Empresa hará los pedidos a través de la/s persona/s autorizadas, no aceptándose los que no provengan de la/s misma/s. Se solicitará la prestación a travás de la pagina web eligiendo la opción Visitas a Domicilio dentro del menu Servicios Online. Luego de completar el formulario respectivo deberá aguardar una confirmación en su mail donde se le indica que el requerimiento fue procesado. En los casos que por alguna razón no funcione el sitio, deberán comunicarse con el Sector de Visitas a Domicilio al 4247-7093 interno 3.<br>
                            La prestación de control domiciliario que se efectúa de lunes a viernes se cumple en el mismo día solo si el pedido se realiza de 8:00 a 13:00 hs. Despuás de dicha franja horaria, el control se efectuará en el transcurso de la tarde del día siguiente. En casos especiales, Pal Medicina Laboral acordará hacer el control en el día, siendo la prestación facturada de manera independiente. Los datos suministrados del empleado/paciente para la realización de la visita domiciliaria deberán ser comunicados con precisión ya que las prestaciones que se repitan por inexactitud de datos o por cambios no comunicados en tiempo y forma, se facturan de manera independiente, aunque el Plan contratado incluya domicilios.<br>
                            Y si quiero solicitarlo un sábado, domingo y/o feriado?<br>
                            Los domicilios y control de ausentismo para los días sábados pueden solicitarse en el horario de 8:00 a 12:00 hs. a través de la página web o telefónicamente. Los días domingos y feriados se toman solo por teléfono y en el mismo rango horario. Aquellos que se recepcionen despuás de este horario, serán efectuados la tarde del día siguiente.<br>
                            Cómo se realiza la solicitud de un consultorio médico?<br>
                            Seleccionando la opció dentro de Servicios Online y completando el formulario respectivo. También se puede solicitar telefónicanemente.<br>
                            Cuándo recibo el diagnóstico?<br>
                            La información médica se proporcionará vía mail a los autorizados de la empresa para recibirla, al día siguiente de la prestación y además se podrá visualizar en nuestro sitio Web a las 21:00 hs del mismo día.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Accidente de trabajo</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            Qué debo hacer ante un accidente de trabajo?<br>
                            En caso de accidente laboral el tiempo es lo importante. Si el accidentado no puede deambular deberá comunicarse con su aseguradora. En el caso de que pueda deambular, previamente autorizado por su empresa, envíe al accidentado desde donde esté (en la empresa, calle, objetivo, etc.) a Pal Medicina Laboral en cualquier día del año durante las 24 hs. Luego envíenos la denuncia correspondiente que nosotros nos comunicaremos con su ART para hacer el seguimiento y démas tramites. Para más información comuníquese con el sector ART (interno 5) o envíe mail a art@palmedicinalaboral.com.ar
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Libreta sanitaria</a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            Cómo renovar las libretas sanitarias al personal de su empresa?<br>
                            Pal Medicina Laboral, esta autorizado por las Municipalidades de Lanús, Avellaneda, Lomas de Zamora, Almirante Brown, Esteban Echeverria y los distintos hospitales de Capital Federal para gestionar y tramitar las libretas sanitarias de su personal. Nos ocupamos de realizar los estudios, la tramitación y la entrega en su empresa a fin de optimizar los tiempos de producción laboral.
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-group -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <hr>
    <div class="well">
        <div class="row">
            <div class="col-md-6">
                <h2>Contacto</h2><p>Tel: 4247-7093 - Ituzaingo 1354, Lanus Este</p>
            </div>
            <div class="col-md-6"><h2>Seguinos en </h2>
                <a class="btn btn-social-icon btn-twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="btn btn-social-icon btn-facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="btn btn-social-icon btn-linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a class="btn btn-social-icon btn-pinterest">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock container %}
