{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            <h2>Estudios Médicos</h2>
            <form method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label" for="patient"></label>
                    <select id="patient" name="patient" class="form-control">
                        <option disabled selected>Selecciona un Paciente...</option>
                        {% for patient in patients %}
                            <option value="{{ patient.paciente }}">{{ patient.paciente }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Obtener</button>
                </div>
            </form>
        </div>
    </div>
{% endblock container %}