{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            {% include 'default/newsListRow.html.twig' %}
            <div class="text-center">
                {{ knp_pagination_render(news) }}
            </div>
            {% block print %}
            {% endblock print %}
        </div>
        <div class="clear mb30"></div>
    </div>
{% endblock container %}