{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            <div class="text-center">
                <a href="{{ path('seeBillPrint', {'nr':nr}) }}" target="_blank" class="btn btn-default">Imprimir</a>
            </div><br/>
            <div class="row">
                {% include 'default/bill.html.twig' %}
                {% if (bill.sucursal in [1,2]) %}
                    {% include 'default/datosBancarios.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock container %}