{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            {% if patients.0 is defined %}
                <h2>Siniestros OnLine de {{ patients.0.nombre }}</h2>
            {% endif %}
            {% for new in patients %}
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li>Fecha de atención: {{ new.fecha | date('d/m/Y') }}</li>
                            <li>Paciente: <strong>{{ new.nombre }}</strong></li>
                            <li>Tipo de atención: {{ new.tiponov }}</li>
                            <li>Referencia: {{ new.enlace }}</li>
                        </ul>
                        <p>
                            {{ new.ren1 }}
                            {% if new.ren2|trim != '' %}<br/>{{ new.ren2 }}{% endif %}
                            {% if new.ren3|trim != '' %}<br/>{{ new.ren3 }}{% endif %}
                            {% if new.ren4|trim != '' %}<br/>{{ new.ren4 }}{% endif %}
                            {% if new.ren5|trim != '' %}<br/>{{ new.ren5 }}{% endif %}
                            {% if new.ren6|trim != '' %}<br/>{{ new.ren6 }}{% endif %}
                            {% if new.ren7|trim != '' %}<br/>{{ new.ren7 }}{% endif %}
                            {% if new.ren8|trim != '' %}<br/>{{ new.ren8 }}{% endif %}
                            {% if new.ren9|trim != '' %}<br/>{{ new.ren9 }}{% endif %}
                            {% if new.ren10|trim != '' %}<br/>{{ new.ren10 }}{% endif %}
                            {% if new.ren11|trim != '' %}<br/>{{ new.ren11 }}{% endif %}
                            {% if new.ren12|trim != '' %}<br/>{{ new.ren12 }}{% endif %}
                            {% if new.ren13|trim != '' %}<br/>{{ new.ren13 }}{% endif %}
                            {% if new.ren14|trim != '' %}<br/>{{ new.ren14 }}{% endif %}
                            {% if new.ren15|trim != '' %}<br/>{{ new.ren15 }}{% endif %}
                            {% if new.ren16|trim != '' %}<br/>{{ new.ren16 }}{% endif %}
                            {% if new.ren17|trim != '' %}<br/>{{ new.ren17 }}{% endif %}
                            {% if new.ren18|trim != '' %}<br/>{{ new.ren18 }}{% endif %}
                            {% if new.ren19|trim != '' %}<br/>{{ new.ren19 }}{% endif %}
                            {% if new.ren20|trim != '' %}<br/>{{ new.ren20 }}{% endif %}
                            {% if new.ren21|trim != '' %}<br/>{{ new.ren21 }}{% endif %}
                            {% if new.ren22|trim != '' %}<br/>{{ new.ren22 }}{% endif %}
                            {% if new.ren23|trim != '' %}<br/>{{ new.ren23 }}{% endif %}
                            {% if new.ren24|trim != '' %}<br/>{{ new.ren24 }}{% endif %}
                            {% if new.ren25|trim != '' %}<br/>{{ new.ren25 }}{% endif %}
                            {% if new.ren26|trim != '' %}<br/>{{ new.ren26 }}{% endif %}
                            {% if new.ren27|trim != '' %}<br/>{{ new.ren27 }}{% endif %}
                            {% if new.ren28|trim != '' %}<br/>{{ new.ren28 }}{% endif %}
                            {% if new.ren29|trim != '' %}<br/>{{ new.ren29 }}{% endif %}
                            {% if new.ren30|trim != '' %}<br/>{{ new.ren30 }}{% endif %}
                        </p>
                    </div>
                    <div class="col-lg-6">
                        {% set file = old_images ~ "NRLL/P" ~ new.fecha | date('d-m-y') ~ "_" ~ new.codigop ~ ".JPG" %}
                        {% if file_exists(root_path ~ file) %}
                            <img src="{{ (file) | imagine_filter('news_thumb') }}" class="img-thumbnail"/>
                        {% endif %}
                    </div>
                </div>
                <hr>
            {% else %}
                <p>No hay estudios para este paciente.</p>
            {% endfor %}

            <div class="text-center">
                {{ knp_pagination_render(patients) }}
            </div>
        </div>
    </div>
{% endblock container %}