{% extends 'layout.html.twig' %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            <div class="h-wrapper">
                <h1>Asesoramiento Legal<span class="line"></span></h1>
            </div>
        </div>
        <div class="container_12">
            <div class="clear mb30"></div>
            <div class="grid_7">
                <h3>Próximamente</h3>
                <div >
                    <ul>
                        <li>Para mayor información envíe un mail a <a href="mailto:marketing@palmedicinalaboral.com.ar">marketing@palmedicinalaboral.com.ar </a>o comuníquese con Damian Babor al 4247-7093 interno 8.</li>
                    </ul>
                    <br>
                </div>
            </div>
            <div class="grid_1"><BR>
            </div>
            <div class="grid_4">
                <img src="{{ asset('images/promociones/promociones-03.jpg') }}" alt="">
            </div>
        </div>
    </div>
{% endblock container %}