{% extends 'layout.html.twig' %}

{% block container %}
<div id="homepage-2">
    <div class="clear mb30"></div>
    <div class="container_12">
        <div class="h-wrapper">
            <h1>Cursos<span class="line"></span></h1>
        </div>
    </div>
    <div class="container_12">
        <div class="clear mb30"></div>
        <div class="grid_7">
            <h3>Primeros Auxílios y Enfermedades infecto contagiosas</h3>
            <div >
                <p>CENTRO DIAGNOSTICO LANUS les comuníca que el Dr. Norberto Babor, médico director, realiza cursos de "Primeros Auxílios y Resucitación Cardiovascular" y de "Enfermedades infecto contagiosas" al personal de su empresa con material incluído y en el lugar de trabajo.</p>
                <ul>
                    <li>Solicite presupuesto</li>
                    <li>Hasta veinte personas con material incluído</li>									</ul>
                <br>
                <p>Para mayor información envíe un mail a <a href="mailto:marketing@palmedicinalaboral.com.ar">marketing@palmedicinalaboral.com.ar </a>o comuníquese con Damian Babor al 4247-7093 interno 8.</p>
            </div>
        </div>
        <div class="grid_1"><BR>
        </div>
        <div class="grid_4">
            <img src="{{ asset('images/promociones/promociones-05.jpg') }}" alt="">
        </div>
    </div>
</div>
{% endblock container %}