{% extends 'layout.html.twig' %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            <div class="h-wrapper">
                <h1>Exámen de Ingreso<span class="line"></span></h1>
            </div>
        </div>
        <div class="container_12">
            <div class="clear mb30"></div>
            <div class="grid_7">
                <h3>Determinan la aptitud del postulante para el desempeño de las tareas a realizar y la presencia de una enfermedad</h3>
                <div >
                    <ul>
                        <li>Estos exámenes son obligatorios para la empresa según lo indica la Superintendencia de Riegos de Trabajo ley N° 24.557. No realizarlo puede generar un rechazo de atención médica por parte de la Aseguradora de Riesgos del Trabajo ante un accidente de trabajo y expone al empleador a la cobertura del mismo y el pago de su incapacidad si la hubiera.</li>
                        <li>Realicelos en su empresa sin cargo adicional (minimo diez personas)</li>
                        <li>Para mayor información envíe un mail a <a href="mailto:marketing@palmedicinalaboral.com.ar">marketing@palmedicinalaboral.com.ar </a>o comuníquese con Damian Babor al 4247-7093 interno 8.</li>
                    </ul>
                    <br>
                </div>
            </div>
            <div class="grid_1"><BR>
            </div>
            <div class="grid_4">
                <img src="{{ asset('images/promociones/promociones-02.jpg') }}" alt="">
            </div>
        </div>
    </div>
{% endblock container %}