{% extends 'layout.html.twig' %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            <div class="h-wrapper">
                <h1>Homologación de Exámenes<span class="line"></span></h1>
            </div>
        </div>
        <div class="container_12">
            <div class="clear mb30"></div>
            <div class="grid_7">
                <h4>Evite juicios laborales y fiscalice los exámenes de ingreso con enfermedades preexistentes ante el Ministerio de Trabajo correspondiente.</h4>
                <div >
                    <p>Para mayor información envíe un mail a <a href="mailto:marketing@palmedicinalaboral.com.ar">marketing@palmedicinalaboral.com.ar </a>o comuníquese con Damian Babor al 4247-7093 interno 8.</p>
                </div>
            </div>
            <div class="grid_1"><BR>
            </div>
            <div class="grid_4">
                <img src="{{ asset('images/promociones/promociones-06.jpg') }}" alt="">
            </div>
        </div>
    </div>
{% endblock container %}