{% extends 'layout.html.twig' %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            <div class="h-wrapper">
                <h1>Libreta Sanitaria<span class="line"></span></h1>
            </div>
        </div>
        <div class="container_12">
            <div class="clear mb30"></div>
            <div class="grid_7">
                <h3>Se le vencen las libretas sanitaria al personal de su empresa?</h3>
                <p>Recuerde que Pal Medicina Laboral está autorizado por las Municipalidades de Lanús, Avellaneda, Lomas de Zamora, Almirante Brown, Esteban Echeverria y los distintos hospitales de Capital Federal para gestionar y tramitar las libretas sanitarias de su personal. Nos ocupamos de realizar los estúdios, la tramitación y la entrega en su empresa a fin de optimizar los tiempos de producción laboral.</p>
               <div class="list arrow">
                    <ul class="skin-color">
                        <li>Exámen: $190 + IVA</li>
                        <li>Operativo en fábrica sin cargo adicional</li>
                    </ul>
                    <p>Ante cualquier inspección, dejamos constancia de libreta en tramite para evitar cualquier multa o apercibimiento.<br>Para mayor información envíe un mail a marketing@palmedicinalaboral.com.ar o comuníquese con Damian Babor al 4247-7093 interno 8.</p>
               </div>
            </div>
            <div class="grid_1"><BR>
            </div>
            <div class="grid_4">
                <img src="{{ asset('images/promociones/promo_libreta.JPG') }}" alt="">
            </div>
            <div class="clear mb20"></div>
            <div class="h-wrapper">
                <h3>Obtenga la libreta sanitaria en solo 3 pasos:<span class="line"></span></h3>
            </div>
            <div class="service-2  grid_4">
                <div class="icon"><img src="{{ asset('images/uno.png') }}" alt=""></div>
                <div class="text">
                    <p>
                        Coordine con nosotros el día y horario que más le covenga para realizar los estúdios en su empresa.
                    </p>
                </div>
            </div>
            <div class="service-2  grid_4">
                <div class="icon"><img src="{{ asset('images/dos.png') }}" alt=""></div>
                <div class="text">
                    <p>
                        Nuestro departamento de exámenes médicos la tramita ante el municipio correspondiente
                    </p>
                </div>
            </div>
            <div class="service-2  grid_4">
                <div class="icon"><img src="{{ asset('images/tres.png') }}" alt=""></div>
                <div class="text">
                    <p>
                        Entregamos las libretas sanitarias.
                    </p>
                </div>
            </div>
        </div>
        <div class="clear mb40"></div>
    </div>
{% endblock container %}