{% extends 'layout.html.twig' %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            <div class="h-wrapper">
                <h1>Plan Nuevo Clientes<span class="line"></span></h1>
            </div>
        </div>
        <div class="container_12">
            <div class="clear mb30"></div>
            <div class="grid_7">
                <h3>Recomiende nuestro plan de medicina laboral y reciba importantes beneficios</h3>
                <div >
                    <p><strong>Bases de la promoción:</strong></p>
                    <p>Para acceder al beneficio, deberá comunicarnos al 4247-7093 interno 8 o vía mail a marketing@palmedicinalaboral.com.ar, la razon social, nombre del responsable y telefono de la empresa recomendada y que no posea nuestro abono de medicina laboral. Ésta será contactada por Damian Babor con la finalidad de ofrecerles nuestro abono centralizado. Ústed recibirá un tope máximo de $500 que se imputará a la factura de su abono.</p>
                    <ul>
                        <li>(A) Se bonifica el mes correspondiente de la empresa nueva</li>
                        <li>(B) En el caso de que el tope máximo supera al importe mensual del abono, se procederá a bonificar sobre este último</li>
                    </ul>
                </div>
            </div>
            <div class="grid_1"><BR>
            </div>
            <div class="grid_4">
                <img src="{{ asset('images/promociones/promociones-08.jpg') }}" alt="">
            </div>
        </div>
    </div>
{% endblock container %}