{% extends 'layout.html.twig' %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            <div class="h-wrapper">
                <h1>Seguridad e Higiene<span class="line"></span></h1>
            </div>
        </div>
        <div class="container_12">
            <div class="clear mb30"></div>
            <div class="grid_7">
                <h4>Nuestro Departamento de Higiene y Seguridad Industrial cubre y asesora en todos los aspectos previstos por las Leyes 19587 y 11495 previniendo accidentes y enfermedades provocadas por el trabajo según lo indicado obligatoriamente en la Ley 24557 de "Riesgos del Trabajo".</h4>
                <div >
                    <ul>
                        <li>Seguimiento y ejecución de la documentación tecnico - legal</li>
                        <li>Realizamos cursos y capacitación al personal</li>
                        <li>Relevamientos permanentes de las condiciones de riego</li>
                        <li>Análsis de accidentes y enfermedades profesionales</li>
                    </ul>
                    <br>
                    <p>Para mayor información envíe un mail a <a href="mailto:marketing@palmedicinalaboral.com.ar">marketing@palmedicinalaboral.com.ar </a>o comuníquese con Damian Babor al 4247-7093 interno 8.</p>
                </div>
            </div>
            <div class="grid_1"><BR>
            </div>
            <div class="grid_4">
                <img src="{{ asset('images/promociones/promociones-04.jpg') }}" alt="">
            </div>
        </div>
    </div>
{% endblock container %}