# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: pal
    database_user: root
    database_password: '989487'
    old_database_driver: pdo_mysql
    old_database_host: 127.0.0.1
    old_database_port: null
    old_database_name: old_palmedicina
    old_database_user: root
    old_database_password: '989487'
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: es
    secret: 69b3010c41dabcfa58a0f433d0b4b136fa810dd5
    database_path: null
