<footer>
    <div class="row" id="pie">
        <div class="col-lg-12" >
            <p>Su opinión es muy importante para nosotros. Cualquier sugerencia, comentario o información que le gustaría que se visualice en la página web, <br>por favor envíenos un mail a <a href="mailto:sistemas@diagnosticolanus.com.ar" target="_top">sistemas@diagnosticolanus.com.ar</a> que lo estaremos evaluando.</p>
            <p>Copyright &copy; Diagnostico Lanús</p>
        </div>
    </div>
</footer>