/*Estilos para intranet de Diagnostico Lanús - By Romi´ss*/
footer{
    background: rgba(149,119,168,1);
    background: -moz-linear-gradient(top, rgba(149,119,168,1) 0%, rgba(202,170,204,1) 20%, rgba(202,170,204,1) 45%, rgba(202,170,204,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(149,119,168,1)), color-stop(20%, rgba(202,170,204,1)), color-stop(45%, rgba(202,170,204,1)), color-stop(100%, rgba(202,170,204,1)));
    background: -webkit-linear-gradient(top, rgba(149,119,168,1) 0%, rgba(202,170,204,1) 20%, rgba(202,170,204,1) 45%, rgba(202,170,204,1) 100%);
    background: -o-linear-gradient(top, rgba(149,119,168,1) 0%, rgba(202,170,204,1) 20%, rgba(202,170,204,1) 45%, rgba(202,170,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(149,119,168,1) 0%, rgba(202,170,204,1) 20%, rgba(202,170,204,1) 45%, rgba(202,170,204,1) 100%);
    background: linear-gradient(to bottom, rgba(149,119,168,1) 0%, rgba(202,170,204,1) 20%, rgba(202,170,204,1) 45%, rgba(202,170,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9577a8', endColorstr='#caaacc', GradientType=0 );
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    color:  purple;
}

#infosesion .btn:hover,#infosesion .btn:focus, #infosesion .btn:active {
    background-color: purple;
    color: white;
}

.navbar-inverse {
    background-image: url('../img/nav.png');
}

.panel-default>.panel-heading{
    background-color: #EEEBF2;
}

.well{
    background-color: #EEEBF2;
}
