{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Formulario enviado{% endblock %}

{% block container %}
    <h2>Su formulario a sido enviado con éxito!</h2>
{% endblock container %}