{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Exámenes Médicos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            <h2>Exámenes Médicos</h2>
            <p>
                <em>Si usted es titular o encargado de la empresa, solicite la prestación a traves de este medio, completando los siguientes datos:</em>
            </p>
            <p>
                <em>* campos requeridos</em>
            </p>
            <hr/>
            {{ form_start(form, {'action': path('medicalExaminations'), 'method':'POST', 'attr':{'class':'form-horizontal', 'role':'form', 'data-toggle':'validator'}}) }}
            <p>Datos de la Empresa:</p>
            {{ form_errors(form) }}
            <div class="form-group">
                <label for="examenmedico_razonSocial" class="col-sm-3 control-label">*Razón Social:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.razonSocial, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label for="examenmedico_apellidoNombreSolicitante" class="col-sm-3 control-label">*Apellido y Nombre del solicitante:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.apellidoNombreSolicitante, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label for="examenmedico_email" class="col-sm-3 control-label">*E-mail:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label for="examenmedico_fecha" class="col-sm-3 control-label">*Fecha:</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                        {{ form_widget(form.fecha, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>

            <p>Datos del Empleado:</p>
            <div class="form-group">
                <label for="examenmedico_apellidoNombre" class="col-sm-3 control-label">*Apellido y Nombre:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.apellidoNombre, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label for="examenmedico_cargoTarea" class="col-sm-3 control-label">*Cargo o Tarea a realizar:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.cargoTarea, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label for="examenmedico_observaciones" class="col-sm-3 control-label">Observaciones:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.observaciones, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-4">
                    <p>Tildar lo que corresponda: Tipo de Examen</p>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.ingreso) }}Ingreso
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.periodico) }}Periódico
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.egreso) }}Egreso
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.ausenciaProlongada) }}Ausencia Prolongada
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.cambioDeTareas) }}Cambio de tareas
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.libretaSanitaria) }}Libreta Sanitaria
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <p>Estudios complementarios del Examen Básico:</p>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.audiometria) }}Audiometría
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.psicotecnico) }}Psicotécnico
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.dapTest) }}Dap test
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.rxColumnaLumbarFrente) }}RX Columna Lumbar  Frente
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.rxColumnaFrentePerfil) }}RX Columna Frente-Perfil
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.grupoFactorSanguineo) }}Grupo y Factor Sanguíneo
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="examenmedico_otros" class="col-sm-3 control-label">Otros:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.otros, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default">Enviar</button>
                    <button type="reset" class="btn btn-default">Borrar</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock container %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bootstrap-validator/validator.min.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            $('#examenmedico_fecha').datetimepicker({
                format: "DD/MM/YYYY"
            });
        });
    </script>
{% endblock %}