{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block container %}
    <div id="homepage-2">
        <div class="clear mb30"></div>
        <div class="container_12">
            <form class="form-horizontal" action="{{ path('login_check_art') }}" method="post">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">Usuario:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="password" placeholder="username" name="_password" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="col-sm-2 control-label">Contraseña:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="username" placeholder="Password" name="_username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Ingresar</button>
                    </div>
                </div>
                {% if error %}
                    <label class="has-error">{{ error.messageKey|trans(error.messageData) }}</label>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("#password").bind('keyup', function (e) {
            $("#password").val(($("#password").val()).toUpperCase());
        });
    </script>
{% endblock %}