{% extends 'layout.html.twig' %}

{% block container %}
    <form class="form-horizontal" action="{{ path('login_check') }}" method="post">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Usuario:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" placeholder="username" name="_username" value="{{ last_username }}">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" class="col-sm-2 control-label">Contraseña:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" placeholder="Password" name="_password">
            </div>
        </div>
        <div class="form-group">
            <label for="origin" class="col-sm-2 control-label">origen:</label>
            <div class="col-sm-10">
                <select class="form-control" id="origin" name="_origin">
                    <option value="palmedicina">Palmedicina</option>
                    <option value="diagnostico_lanus">Diagnóstico Lanús</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Ingresar</button>
            </div>
        </div>
        {% if error %}
            <label class="has-error">{{ error.messageKey|trans(error.messageData) }}</label>
        {% endif %}
    </form>
{% endblock container %}